body {
	font-family: 'Helvetica';
	margin: 40px auto;
	max-width: 700px;
	line-height: 1.6;
	font-size: 18px;
	color: rgba(58, 71, 80, 0.75);
	padding: 0 10px

}

ul {
	list-style-type: none;
    font-family: 'Helvetica'
}

.context {
    font-family: 'Helvetica';
	max-width:650px;
	line-height:1.;
	font-size:14px;
	color: #a6a6a6;
    padding: 0px 0px 0px
}

.introduction h1 {
	margin-bottom: 2px
}

.introduction h1, em {
	color: #3A4750
}
/*
.introduction a {
	border-bottom: none;
	color: inherit;
	text-decoration: none
}

.introduction a:hover {
	border-bottom: 1px solid rgba(58, 71, 80, 0.5);
	color: inherit;
	text-decoration: none
} */

.directories h2 {
	color: #3A4750
}

.directories a {
    font-size: 16px;
	color: #2185D5;
	display: inline-block;
	font-weight: 400;
	position: relative;
	text-decoration: none;
    padding: 2px 20px 0px 20px
}

/*
.directories a:before {
	background: rgba(33, 133, 213, .1);
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 25px;
	width: 0;
	-webkit-transition: width 0s ease, background .4s ease;
	transition: width 0s ease, background .4s ease
}

.directories a:after {
	background: rgba(33, 133, 213, .1);
	content: '';
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	height: 25px;
	width: 0;
	-webkit-transition: width .4s ease;
	transition: width .4s ease
} */
/*
.directories a:hover:before {
	width: 100%;
	-webkit-transition: width .4s ease;
	transition: width .4s ease
}

.directories a:hover:after {
	background: 0 0;
	width: 100%;
	-webkit-transition: all 0s ease;
	transition: all 0s ease
} */



/* Shutter Out Vertical */
.hvr-shutter-out-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  /* background: #e1e1e1; */
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-out-vertical:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(33, 133, 213, .1);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/* .hvr-shutter-out-vertical:hover, .hvr-shutter-out-vertical:focus, .hvr-shutter-out-vertical:active {
  color: white;
} */
.hvr-shutter-out-vertical:hover:before, .hvr-shutter-out-vertical:focus:before, .hvr-shutter-out-vertical:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}


.directories li p {
    font-family: 'Helvetica';
    font-size: 10pt;
    padding-left: 40px
}

.social-media {
	animation: fadein .5s both;
	animation-delay: .4s;
	/*border-top: 1px solid rgba(58, 71, 80, 0.2);*/
	padding: 20px 0;
	margin-top: 32px;
	margin-bottom: 32px
}

.social-media li {
	display: inline-block;
	font-size: 15px;
	margin-right: 12px;
	opacity: .6;
	transition: 100ms
}

.social-media a {
	border-bottom: none;
	color: inherit;
	display: inline-block;
	text-decoration: none;
}
/*
.social-media a:hover {
	border-bottom: 1px solid rgba(58, 71, 80, 0.5);
	color: inherit;
	text-decoration: none
} */

.contacts p, a{
    font-size: 14px;
	color: #a6a6a6;
}



/* Underline Reveal */
.hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  height: 4px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}


img.align-left {
  float: left;
  margin-right: 10px;
}

img.align-right {
  float: right;
  margin-left: 10px;
}

img.medium {
  width: 250px;
  height: 250px;}
