

/**** img ****/
img.align-left {
  float: left;
  margin-right: 10px;
  padding: 10px 10px 10px 10px;
}
img.align-right {
  float: right;
  margin-left: 10px;
  padding: 10px 10px 10px 10px;
  
  // display:block; 
  // width: 100%;
  height: auto;
  vertical-align: right;
}
img.medium {
  width: 250px;
  height: 250px;
  padding: 10px 10px 10px 10px;
}

body {
	max-width: 90%;
	width: 700px;
	padding-bottom: 40px;
}

@media only screen and (max-width: 600px) {
    img.align-right {
        float: none;
        vertical-align: center;
        padding: 0px 0px 20px 0px;
    }
    body {
    	max-width: 80%;
    }
}

/**** classes ****/

/**** context ****/
.context {
    font-family: 'Helvetica';
	max-width:600px;
	line-height: 1;
	font-size:14px;
	color: #a6a6a6;
	padding-top: 20px;
}

/**** introduction ****/
.introduction h1, .project-introduction h1 {
	font-weight: 500;
	color: $brand-color;
}


/**** project introduction ****/

.project-introduction {
	background-color: transparentize($brand-color, 0.93);
	padding: 10px 20px;
	margin-bottom: 20px;
}



/**** directories ****/

.directories a {
	font-size: 16px;
	color: $link-color;
	display: inline-block;
	font-weight: 400;
	position: relative;
	text-decoration: none;

	padding: 2px 10px;
}

.directories li {
	margin-bottom: 20px;
}
.directories li a{
	margin-left: 10px;
}

.missing {
	font-size: 16px;
	color: $grey-color-light;
	position: relative;
	text-decoration: none;
	padding: 2px 20px 20px 40px;
}

.directories li p {
	font-size: $small-font-size;
	margin: 0px 20px;
}

.directories a {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.directories a:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: transparentize($link-color, .9);
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: 50%;
	transform-origin: 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.directories a:hover:before, .directories a:focus:before, .directories a:active:before {
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
}

.directories .missing {
	
}

/**** social-media ****/
.social-media a {
	padding: 20px 2px;
	font-size: 22px;
	margin-bottom: 20px;
	color: inherit;
	display: inline-block;
	text-decoration: none;
}
/*
.social-media a:hover {
	border-bottom: 1px solid rgba(58, 71, 80, 0.5);
	color: inherit;
	text-decoration: none
} */




