<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	resizeOnImport="false"

>
  <image imageURL="images/IMG_9032.jpg"
	thumbURL="thumbs/IMG_9032.jpg"
	linkURL="images/IMG_9032.jpg"
	linkTarget="_blank"
	sourcePath="/Users/pyoky/Google Drive (Personal)/손표경 (Insight)/Photos for Website/Habitat for Humanity/IMG_9032.JPG">
    <title><![CDATA[Before Building]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8000.jpg"
	thumbURL="thumbs/IMG_8000.jpg"
	linkURL="images/IMG_8000.jpg"
	linkTarget="_blank"
	sourcePath="/Users/pyoky/Google Drive (Personal)/손표경 (Insight)/Photos for Website/Habitat for Humanity/IMG_8000.JPG">
    <title><![CDATA[Arrival]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8998.jpg"
	thumbURL="thumbs/IMG_8998.jpg"
	linkURL="images/IMG_8998.jpg"
	linkTarget="_blank"
	sourcePath="/Users/pyoky/Google Drive (Personal)/손표경 (Insight)/Photos for Website/Habitat for Humanity/IMG_8998.JPG">
    <title><![CDATA[Introduction]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_9003.jpg"
	thumbURL="thumbs/IMG_9003.jpg"
	linkURL="images/IMG_9003.jpg"
	linkTarget="_blank"
	sourcePath="/Users/pyoky/Google Drive (Personal)/손표경 (Insight)/Photos for Website/Habitat for Humanity/IMG_9003.JPG">
    <title><![CDATA[Introduction]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_9999L.jpg"
	thumbURL="thumbs/IMG_9999L.jpg"
	linkURL="images/IMG_9999L.jpg"
	linkTarget="_blank"
	sourcePath="/Users/pyoky/Google Drive (Personal)/손표경 (Insight)/Photos for Website/Habitat for Humanity/IMG_9999L.JPG">
    <title><![CDATA[Work]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_9066.jpg"
	thumbURL="thumbs/IMG_9066.jpg"
	linkURL="images/IMG_9066.jpg"
	linkTarget="_blank"
	sourcePath="/Users/pyoky/Google Drive (Personal)/손표경 (Insight)/Photos for Website/Habitat for Humanity/IMG_9066.JPG">
    <title><![CDATA[Construction]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_9981.jpg"
	thumbURL="thumbs/IMG_9981.jpg"
	linkURL="images/IMG_9981.jpg"
	linkTarget="_blank"
	sourcePath="/Users/pyoky/Google Drive (Personal)/손표경 (Insight)/Photos for Website/Habitat for Humanity/IMG_9981.JPG">
    <title><![CDATA[Afterwards]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8991.jpg"
	thumbURL="thumbs/IMG_8991.jpg"
	linkURL="images/IMG_8991.jpg"
	linkTarget="_blank"
	sourcePath="/Users/pyoky/Google Drive (Personal)/손표경 (Insight)/Photos for Website/Habitat for Humanity/IMG_8991.JPG">
    <title><![CDATA[Habitat for Humanity]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>