

html {
	background-color: #1A1A1A;
	scroll-behavior: smooth;
}

body {
	font-family: Palatino;
	font-style: italic;
	color: #F2F2F2;
	margin: 0 auto;
	padding-right: 20px;
	padding-left: 20px;

	max-width: 700px;

}
h2 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.8em;
	font-weight: normal;
}

a {
	text-decoration: none;
	color: #F2F2F2;
}


.navbar {
	font-family: "Avenir Next";
	font-style: normal;
	font-variant-caps: all-small-caps;
	display: flex;
}

	.navbar a {
		text-decoration: none;
		letter-spacing: 0.1em;
		padding-right: 25px;
		color: #F2F2F2;
	}
	.navbar a:before {
		color: #F2F2F2;
		background-color: #1A1A1A;
	}

	.navbar a:hover:before {
		background-color: #F2F2F2;
		color: #1A1A1A;
		
	}


.separator {
	margin-top: 40px; 
	margin-bottom: 40px; 
  height: 4px;
  width: 40px;
  background-color: #E6E6E6;
}
	.separator-writing {
		margin-top: 40px; 
	margin-bottom: 40px; 
		height: 4px;
		width: 40px;
		background-color: #FFE52B;
	}

	.separator-double {
		margin-top: 40px; 
		margin-bottom: 40px; 
		display: flex;
		height: 4px;
		width: 80px;
	}
	.separator-cs {
	  height: 100%;
	  width: 100%;
	  background-color: #B4D293;
	}
	.separator-math {
	  height: 100%;
	  width: 100%;
	  background-color: #0097DB;
	}
	


.introduction p {
	margin: 0;
	padding-bottom: 0;
	font-size: 1.5em;
}

	.introduction h2 span {
		padding: 0 15px;
	}



	.introduction a {
	  	position: relative;
	  	text-decoration: none;
	}

	.introduction a:before {
		content: "";
		position: absolute;
		width: 0;
		bottom: 0;
		height: 2px;
		
	}
	.introduction a:hover:before 
	{
		left: 0;
		right: auto;
		width: 100%;
		transition: width 0.3s ease-out;

	}
	.hover-cs:before { background-color: #B4D293; }
	.hover-gd:before { background-color: #D53F77; }
	.hover-mh:before { background-color: #0097DB; }
	.hover-wr:before { background-color: #FFE52B; }

	.saint-maur:hover {
		background: linear-gradient(45deg, #f3ec78, #af4261);

		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent; 
		-moz-background-clip: text;
		-moz-text-fill-color: transparent;
	}
	.duke-univ:hover {
		background: linear-gradient(45deg, blue, grey);

		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent; 
		-moz-background-clip: text;
		-moz-text-fill-color: transparent;
	}

@keyframes animate-in {
    0% {
        box-shadow: inset 0 0 0 0 #31302B;
        color:#31302B;
        background: #FFF;
    }
    100% {
        box-shadow: inset 100px 0 0 0 #31302B;
        color:#FFF;
        background: #FFF;
    }
}
@keyframes animate-out {
    0% {
        box-shadow: inset 0 0 0 0 #FFF; 
        background: #31302B;
        color:#FFF;
    }
    100% {
        box-shadow: inset 100px 0 0 0 #FFF; 
        background: #31302B;
        color:#31302B;
    }
}



.project-cs {
	padding: 25px 0px 25px 10%;
}
	.tag {
		font-family: "Avenir Next";
		line-height: 0;
		font-size: 0.9em;
	}

	.project-cs h3 {
		font-weight: normal;
		margin-top: 0;
		line-height: 1;
		font-size: 1.5em;
	}

	.project-links {
		font-family: "Avenir Next";
		display: flex;

	}


	.project-links a {
		margin-right: 20px;
	}

	.project-links a:hover i {
		transform: translate(0.2em,-0.2em);
		transition: all 0.1s ease-out;
		
	}
	
	
.skills-cs {
	display: flex;
	flex-wrap: wrap;
	padding-left: 10%;
}

	.skill {
		font-family: "Avenir Next";
		font-size: 1.4em;
		margin-right: 20px;
		padding:0;
		min-width: 40%;
	}
	.skills-cs > p {
		font-size: 1.4em;
	}







.essay-writing {
	padding: 25px 0px 25px 10%;
}
	.essay-writing .tag {
		font-family: "Avenir Next";
		line-height: 0;
		font-size: 0.9em;
	}

	.essay-writing h3 {
		font-weight: normal;
		margin-top: 0;
		margin-bottom: 0.5em;
		line-height: 1;
		font-size: 2.3em;
	}

	.essay-links {
		font-family: "Avenir Next";
		display: flex;

	}


	.essay-links a {
		margin-right: 20px;
	}

	.essay-links a:hover i {
		transform: translate(0.2em,-0.2em);
		transition: all 0.1s ease-out;
		
	}
	
.academic-writing {
	padding: 25px 0px 25px 10%;
}
	.academic-writing .tag {
		font-family: "Avenir Next";
		line-height: 0;
		font-size: 0.9em;
	}

	.academic-writing h3 {
		font-weight: normal;
		margin-top: 0;
		margin-bottom: 0.5em;
		line-height: 1;
		font-size: 1.5em;
	}

	.academic-links {
		font-family: "Avenir Next";
		display: flex;

	}


	.academic-links a {
		margin-right: 20px;
	}

	.academic-links a:hover i {
		transform: translate(0.2em,-0.2em);
		transition: all 0.1s ease-out;
		
	}

