<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	resizeOnImport="false"

>
  <image imageURL="images/部員全員.jpg"
	thumbURL="thumbs/部員全員.jpg"
	linkURL="images/部員全員.jpg"
	linkTarget="_blank"
	sourcePath="/Users/pyoky/Google Drive (Personal)/손표경 (Insight)/Photos for Website/Japanese Anime Studies Club/部員全員.jpg">
    <title><![CDATA[部員全員]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/PK - バイオレット.jpg"
	thumbURL="thumbs/PK - バイオレット.jpg"
	linkURL="images/PK - バイオレット.jpg"
	linkTarget="_blank"
	sourcePath="/Users/pyoky/Google Drive (Personal)/손표경 (Insight)/Photos for Website/Japanese Anime Studies Club/PK - バイオレット.jpg">
    <title><![CDATA[PK - バイオレット]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Analysis 1.jpg"
	thumbURL="thumbs/Analysis 1.jpg"
	linkURL="images/Analysis 1.jpg"
	linkTarget="_blank"
	sourcePath="/Users/pyoky/Google Drive (Personal)/손표경 (Insight)/Photos for Website/Japanese Anime Studies Club/Analysis 1.jpg">
    <title><![CDATA[Analysis 1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Analysis 2.jpg"
	thumbURL="thumbs/Analysis 2.jpg"
	linkURL="images/Analysis 2.jpg"
	linkTarget="_blank"
	sourcePath="/Users/pyoky/Google Drive (Personal)/손표경 (Insight)/Photos for Website/Japanese Anime Studies Club/Analysis 2.jpg">
    <title><![CDATA[Analysis 2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Analysis 3.jpg"
	thumbURL="thumbs/Analysis 3.jpg"
	linkURL="images/Analysis 3.jpg"
	linkTarget="_blank"
	sourcePath="/Users/pyoky/Google Drive (Personal)/손표경 (Insight)/Photos for Website/Japanese Anime Studies Club/Analysis 3.jpg">
    <title><![CDATA[Analysis 3]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Analysis 4.jpg"
	thumbURL="thumbs/Analysis 4.jpg"
	linkURL="images/Analysis 4.jpg"
	linkTarget="_blank"
	sourcePath="/Users/pyoky/Google Drive (Personal)/손표경 (Insight)/Photos for Website/Japanese Anime Studies Club/Analysis 4.jpg">
    <title><![CDATA[Analysis 4]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Analysis 5.jpg"
	thumbURL="thumbs/Analysis 5.jpg"
	linkURL="images/Analysis 5.jpg"
	linkTarget="_blank"
	sourcePath="/Users/pyoky/Google Drive (Personal)/손표경 (Insight)/Photos for Website/Japanese Anime Studies Club/Analysis 5.jpg">
    <title><![CDATA[Analysis 5]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Analysis 6.jpg"
	thumbURL="thumbs/Analysis 6.jpg"
	linkURL="images/Analysis 6.jpg"
	linkTarget="_blank"
	sourcePath="/Users/pyoky/Google Drive (Personal)/손표경 (Insight)/Photos for Website/Japanese Anime Studies Club/Analysis 6.jpg">
    <title><![CDATA[Analysis 6]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>