<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery>
  <image imageURL="images/20181011_113256.jpg"
	thumbURL="thumbs/20181011_113256.jpg"
	linkURL="images/20181011_113256.jpg"
	linkTarget="_blank"
	sourcePath="/Users/pyoky/Google Drive (Personal)/손표경 (Insight)/Photos for Website/Brain Bowl 2018/20181011_113256.jpg"

>
    <title><![CDATA[First Round]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20181011_125952.jpg"
	thumbURL="thumbs/20181011_125952.jpg"
	linkURL="images/20181011_125952.jpg"
	linkTarget="_blank"
	sourcePath="/Users/pyoky/Google Drive (Personal)/손표경 (Insight)/Photos for Website/Brain Bowl 2018/20181011_125952.jpg">
    <title><![CDATA[Waiting]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20181011_133117.jpg"
	thumbURL="thumbs/20181011_133117.jpg"
	linkURL="images/20181011_133117.jpg"
	linkTarget="_blank"
	sourcePath="/Users/pyoky/Google Drive (Personal)/손표경 (Insight)/Photos for Website/Brain Bowl 2018/20181011_133117.jpg">
    <title><![CDATA[Team]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20181011_135125.jpg"
	thumbURL="thumbs/20181011_135125.jpg"
	linkURL="images/20181011_135125.jpg"
	linkTarget="_blank"
	sourcePath="/Users/pyoky/Google Drive (Personal)/손표경 (Insight)/Photos for Website/Brain Bowl 2018/20181011_135125.jpg">
    <title><![CDATA[Games]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20181011_133013.jpg"
	thumbURL="thumbs/20181011_133013.jpg"
	linkURL="images/20181011_133013.jpg"
	linkTarget="_blank"
	sourcePath="/Users/pyoky/Google Drive (Personal)/손표경 (Insight)/Photos for Website/Brain Bowl 2018/20181011_133013.jpg">
    <title><![CDATA[Team Member Discussion]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20181011_170618.jpg"
	thumbURL="thumbs/20181011_170618.jpg"
	linkURL="images/20181011_170618.jpg"
	linkTarget="_blank"
	sourcePath="/Users/pyoky/Google Drive (Personal)/손표경 (Insight)/Photos for Website/Brain Bowl 2018/20181011_170618.jpg">
    <title><![CDATA[2018 Brain Bowl Team]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>