<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	resizeOnImport="false"

>
  <image imageURL="images/Team Shot.jpeg"
	thumbURL="thumbs/Team Shot.jpeg"
	linkURL="images/Team Shot.jpeg"
	linkTarget="_blank"
	sourcePath="/Users/pyoky/Google Drive (Personal)/손표경 (Insight)/Photos for Website/Basketball/Team Shot.jpeg">
    <title><![CDATA[Team Shot]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/In-game.jpeg"
	thumbURL="thumbs/In-game.jpeg"
	linkURL="images/In-game.jpeg"
	linkTarget="_blank"
	sourcePath="/Users/pyoky/Google Drive (Personal)/손표경 (Insight)/Photos for Website/Basketball/In-game.jpeg">
    <title><![CDATA[In-game]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Tip-off.jpeg"
	thumbURL="thumbs/Tip-off.jpeg"
	linkURL="images/Tip-off.jpeg"
	linkTarget="_blank"
	sourcePath="/Users/pyoky/Google Drive (Personal)/손표경 (Insight)/Photos for Website/Basketball/Tip-off.jpeg">
    <title><![CDATA[Tip-off]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/During Break.jpeg"
	thumbURL="thumbs/During Break.jpeg"
	linkURL="images/During Break.jpeg"
	linkTarget="_blank"
	sourcePath="/Users/pyoky/Google Drive (Personal)/손표경 (Insight)/Photos for Website/Basketball/During Break.jpeg">
    <title><![CDATA[During Break]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Rebound.jpeg"
	thumbURL="thumbs/Rebound.jpeg"
	linkURL="images/Rebound.jpeg"
	linkTarget="_blank"
	sourcePath="/Users/pyoky/Google Drive (Personal)/손표경 (Insight)/Photos for Website/Basketball/Rebound.jpeg">
    <title><![CDATA[Rebound]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/After Game 3.jpeg"
	thumbURL="thumbs/After Game 3.jpeg"
	linkURL="images/After Game 3.jpeg"
	linkTarget="_blank"
	sourcePath="/Users/pyoky/Google Drive (Personal)/손표경 (Insight)/Photos for Website/Basketball/After Game 3.jpeg">
    <title><![CDATA[After Game 3]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/After Game 1.jpeg"
	thumbURL="thumbs/After Game 1.jpeg"
	linkURL="images/After Game 1.jpeg"
	linkTarget="_blank"
	sourcePath="/Users/pyoky/Google Drive (Personal)/손표경 (Insight)/Photos for Website/Basketball/After Game 1.jpeg">
    <title><![CDATA[After Game 1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/After Game 2.jpeg"
	thumbURL="thumbs/After Game 2.jpeg"
	linkURL="images/After Game 2.jpeg"
	linkTarget="_blank"
	sourcePath="/Users/pyoky/Google Drive (Personal)/손표경 (Insight)/Photos for Website/Basketball/After Game 2.jpeg">
    <title><![CDATA[After Game 2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>