<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	resizeOnImport="false"
	backgroundColor="rgba(34,34,34,0)"
	useThumbDots="false"
	useFullscreenExpand="false"

>
  <image imageURL="images/1.jpg"
	thumbURL="thumbs/1.jpg"
	linkURL="images/1.jpg"
	linkTarget="_blank"
	sourcePath="/Users/pyoky/Google Drive (Personal)/손표경 (Insight)/Photos for Website/Brain Bowl 2017/1.JPG">
    <title><![CDATA[Team Photo]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2.jpg"
	thumbURL="thumbs/2.jpg"
	linkURL="images/2.jpg"
	linkTarget="_blank"
	sourcePath="/Users/pyoky/Google Drive (Personal)/손표경 (Insight)/Photos for Website/Brain Bowl 2017/2.JPG">
    <title><![CDATA[Opening Game]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/3.jpg"
	thumbURL="thumbs/3.jpg"
	linkURL="images/3.jpg"
	linkTarget="_blank"
	sourcePath="/Users/pyoky/Google Drive (Personal)/손표경 (Insight)/Photos for Website/Brain Bowl 2017/3.JPG">
    <title><![CDATA[Rounds]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0137.jpg"
	thumbURL="thumbs/DSC_0137.jpg"
	linkURL="images/DSC_0137.jpg"
	linkTarget="_blank"
	sourcePath="/Users/pyoky/Google Drive (Personal)/손표경 (Insight)/Photos for Website/Brain Bowl 2017/DSC_0137.JPG">
    <title><![CDATA[Rounds]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0155.jpg"
	thumbURL="thumbs/DSC_0155.jpg"
	linkURL="images/DSC_0155.jpg"
	linkTarget="_blank"
	sourcePath="/Users/pyoky/Google Drive (Personal)/손표경 (Insight)/Photos for Website/Brain Bowl 2017/DSC_0155.JPG">
    <title><![CDATA[Rounds]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSC_0176.jpg"
	thumbURL="thumbs/DSC_0176.jpg"
	linkURL="images/DSC_0176.jpg"
	linkTarget="_blank"
	sourcePath="/Users/pyoky/Google Drive (Personal)/손표경 (Insight)/Photos for Website/Brain Bowl 2017/DSC_0176.JPG">
    <title><![CDATA[Rounds]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3042.jpg"
	thumbURL="thumbs/IMG_3042.jpg"
	linkURL="images/IMG_3042.jpg"
	linkTarget="_blank"
	sourcePath="/Users/pyoky/Google Drive (Personal)/손표경 (Insight)/Photos for Website/Brain Bowl 2017/IMG_3042.JPG">
    <title><![CDATA[Audience]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3049.jpg"
	thumbURL="thumbs/IMG_3049.jpg"
	linkURL="images/IMG_3049.jpg"
	linkTarget="_blank"
	sourcePath="/Users/pyoky/Google Drive (Personal)/손표경 (Insight)/Photos for Website/Brain Bowl 2017/IMG_3049.JPG">
    <title><![CDATA[Lunch]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3047.jpg"
	thumbURL="thumbs/IMG_3047.jpg"
	linkURL="images/IMG_3047.jpg"
	linkTarget="_blank"
	sourcePath="/Users/pyoky/Google Drive (Personal)/손표경 (Insight)/Photos for Website/Brain Bowl 2017/IMG_3047.JPG">
    <title><![CDATA[Afternoon Round]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3048.jpg"
	thumbURL="thumbs/IMG_3048.jpg"
	linkURL="images/IMG_3048.jpg"
	linkTarget="_blank"
	sourcePath="/Users/pyoky/Google Drive (Personal)/손표경 (Insight)/Photos for Website/Brain Bowl 2017/IMG_3048.JPG">
    <title><![CDATA[Afternoon Rounds]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3054.jpg"
	thumbURL="thumbs/IMG_3054.jpg"
	linkURL="images/IMG_3054.jpg"
	linkTarget="_blank"
	sourcePath="/Users/pyoky/Google Drive (Personal)/손표경 (Insight)/Photos for Website/Brain Bowl 2017/IMG_3054.JPG">
    <title><![CDATA[Audience]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3058.jpg"
	thumbURL="thumbs/IMG_3058.jpg"
	linkURL="images/IMG_3058.jpg"
	linkTarget="_blank"
	sourcePath="/Users/pyoky/Google Drive (Personal)/손표경 (Insight)/Photos for Website/Brain Bowl 2017/IMG_3058.JPG">
    <title><![CDATA[All-stars]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3059.jpg"
	thumbURL="thumbs/IMG_3059.jpg"
	linkURL="images/IMG_3059.jpg"
	linkTarget="_blank"
	sourcePath="/Users/pyoky/Google Drive (Personal)/손표경 (Insight)/Photos for Website/Brain Bowl 2017/IMG_3059.JPG">
    <title><![CDATA[All-stars]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_3970.jpg"
	thumbURL="thumbs/IMG_3970.jpg"
	linkURL="images/IMG_3970.jpg"
	linkTarget="_blank"
	sourcePath="/Users/pyoky/Google Drive (Personal)/손표경 (Insight)/Photos for Website/Brain Bowl 2017/IMG_3970.JPG">
    <title><![CDATA[Brain Bowl 2017]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>